html{
	padding:0;
	margin:0;
}

body{
	padding:0;
	margin:0;
}

.canvas{
	position:absolute;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

ul{
	list-style:none;
	float:left;
	padding:0;
	margin:0;
}

#settings{
	position:absolute;
	bottom:5%;
}

#canvas1{
	z-index:99;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#canvas2{
	z-index:-2;
}

#canvas3{
	z-index:-1;
}

#start{
	position:absolute;
	right:5%;
}